.movieLane-outer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  // border: solid blue 1px;
  &__button-back,
  &__button-forth {
    height: 20rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 5rem;
    z-index: 1;
    transform: scale(1);
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.315);
      transform: scale(1.2);
    }
  }
}
.movieLane-inner {
  width: 95%;
}
.movieLane {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
.movieLaneCard {
  display: flex;
  cursor: pointer;
  &__movieImage {
    padding-left: 1rem;
  }
  &__img {
    width: 30rem;
  }
  &:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 700px) {
  .movieLane-outer {
    width: 100%;
    &__button-back,
    &__button-forth {
      font-size: 3rem;
      display: none;
    }
  }
  .movieLane-inner {
    width: 100%;
  }
  .movieLaneCard {
    &__img {
      width: 20rem;
    }
  }
}
