.movieLane-outer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  // border: solid blue 1px;
  &__button-back,
  &__button-forth {
    height: 20rem;
    // width: 10%;
    border: none;
    // border: solid blue 1px;
    background: transparent;
    color: white;
    font-size: 5rem;
    z-index: 1;
    transform: scale(1);
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.315);
      transform: scale(1.2);
    }
  }
//   &__button-back {
//     // padding-right: 1.3rem;
//   }
  //   &__button-left {
  //     padding-left: 1.3rem;
  //   }
}
.movieLane-inner {
  width: 95%;
//   border: solid red 1px;
}
.movieLane {
//   border: solid blue 1px;
  width: 100%;
  //   margin: 1.3rem -10%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
.movieLaneCard {
  //   width: 30rem;
  display: flex;
  &__movieImage {
    padding-left: 1rem;
  }
  &__img {
    width: 30rem;
  }
}
