* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: $overal-background-color;
  height:100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height:100%;
}
.link{
  text-decoration: none;
}