* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: black;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.link {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 5rem;
  padding: 0 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.746)), to(transparent));
  background: linear-gradient(rgba(0, 0, 0, 0.746), transparent);
}

.navbar__logo {
  color: #a82222;
  padding: 1rem 0;
  text-decoration: none;
  font-family: "Share Tech Mono", monospace;
  font-size: 2.5rem;
}

.navbar__burger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 1.7rem;
  z-index: 5;
  display: none;
}

@media (max-width: 768px) {
  .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.navbar__burger .line {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: white;
}

.navbar__burger .nav-open {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
}

.navbar__burger .nav-open:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(9px);
          transform: rotate(45deg) translateY(9px);
}

.navbar__burger .nav-open:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.navbar__burger .nav-open:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-9px);
          transform: rotate(-45deg) translateY(-9px);
}

.navbar .menu-container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu-container__li {
  padding: 1rem 1rem;
}

.navbar .menu-container__link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 3.5rem;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.navbar.active {
  background: black;
}

.menu-container.test {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .box {
  width: 80%;
  height: 50rem;
  background-color: black;
  border: solid 1px black;
}

.main-footer {
  background-color: black;
  width: 100%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
}

.main-footer h4 {
  width: 50%;
}

.main-footer .footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.main-footer ul {
  line-height: 200%;
}

.main-footer li {
  color: grey;
  list-style: none;
}

.main-footer img {
  width: 20px;
  height: 20px;
  color: grey;
  margin-right: 10px;
}

.main-footer .youtubeImg {
  width: 28px;
  height: 28px;
  margin-bottom: -4px;
  margin-left: -4px;
}

.preview {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, black));
  background-image: linear-gradient(transparent, black 90%);
}

.preview__player {
  z-index: -1;
  position: absolute;
  top: -6%;
}

.preview__backdrop-img {
  padding-top: 55%;
  width: 100%;
  z-index: -1;
}

.preview__button-sound {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: 4;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.602);
}

.preview__button-sound .sound-img {
  z-index: 3;
  width: auto;
  height: 100%;
  width: 100%;
}

.preview__button-sound .sound-img-on {
  background: url("https://i.postimg.cc/MKKfY7Xg/3643734-high-sound-speaker-voice-volume-113403.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__button-sound .sound-img-off {
  background: url("https://i.postimg.cc/nhXsyn4k/3643732-mute-sound-speaker-voice-volume-113439.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__button-sound2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  right: 3%;
  z-index: 4;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.527);
}

.preview__button-sound2 .sound-img {
  z-index: 3;
  width: auto;
  height: 100%;
  width: 100%;
}

.preview__button-sound2 .sound-img-on {
  background: url("https://i.postimg.cc/MKKfY7Xg/3643734-high-sound-speaker-voice-volume-113403.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview__button-sound2 .sound-img-off {
  background: url("https://i.postimg.cc/nhXsyn4k/3643732-mute-sound-speaker-voice-volume-113439.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-card {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 25rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie-card__title {
  width: 100%;
  margin-left: -2rem;
}

.movie-card__description {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.movie-card__play-movie, .movie-card__more-details {
  padding: 0.5rem 1rem;
  margin: 0 1rem 0 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.459);
}

.movie-card__play-movie:hover, .movie-card__more-details:hover {
  background-color: rgba(97, 97, 97, 0.267);
  color: white;
}

.play-video {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-video__container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-video__player {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  max-height: 100vh;
}

.movieInfo-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.712);
}

.movieInfo {
  position: relative;
  margin: 5% 0 20% 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: whitesmoke;
  width: 80%;
  max-width: 100rem;
}

.movieInfoLane {
  position: relative;
  margin: 5% 0 20% 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: whitesmoke;
  width: 80%;
  max-width: 100rem;
}

.animation {
  -webkit-animation: sampleanimation 0.5s forwards;
          animation: sampleanimation 0.5s forwards;
}

@-webkit-keyframes sampleanimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sampleanimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.movieInfo-hide {
  display: none;
}

.videoPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoPreview__container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoPreview__player {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  max-height: 100vh;
}

.videoPreview__close-window {
  right: 0.5rem;
  position: absolute;
  top: 0.5rem;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.705);
  background: none;
  border: none;
  cursor: pointer;
}

.videoPreview__controlePanel {
  position: absolute;
  width: 20rem;
  bottom: 16%;
  margin-left: 2.5%;
}

.videoPreview__title {
  width: 100%;
}

.videoPreview__playButton {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.videoPreview .far {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.602);
}

.videoPreview .far:hover {
  color: #8ceb10;
  cursor: pointer;
}

.videoPreviewText {
  height: 30%;
  background: -webkit-linear-gradient(black 25%, #383838);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
  padding-bottom: 20px;
}

.videoPreviewText__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  margin-top: 20px;
}

.videoPreviewText__1-1 {
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
}

.videoPreviewText__1-1 p {
  margin-bottom: 10px;
  font-size: 12px;
}

.videoPreviewText__1-1 span {
  color: #8ceb10;
}

.videoPreviewText__1-1 #SamenvattingFilm {
  font-size: 15px;
}

.videoPreviewText__1-2 {
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  padding-left: 50px;
}

.videoPreviewText__1-2 p {
  margin-bottom: 10px;
  font-size: 12px;
}

.videoPreviewText__1-2 span {
  color: grey;
}

.videoPreviewText__2 {
  background-color: rgba(0, 0, 0, 0);
  height: 50%;
  margin-top: 20px;
}

.videoPreviewText__2 p {
  margin-bottom: 7px;
  font-size: 11px;
}

.videoPreviewText__2 span {
  color: #9b9b9b;
}

@media only screen and (max-width: 600px) {
  .preview {
    min-height: 30rem;
  }
  .movieInfo {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .videoPreviewText__1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .videoPreviewText__1-2 {
    padding-left: 0;
  }
  .videoPreview__controlePanel {
    width: 10rem;
  }
}

@media only screen and (max-width: 1000px) {
  .movie-card {
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .movie-card__description {
    display: none;
  }
}

.movieLane-outer-Top9 {
  margin-top: -15%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieLane-outer-Top9__button-back, .movieLane-outer-Top9__button-forth {
  height: 35rem;
  border: none;
  background: transparent;
  color: white;
  font-size: 5rem;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.movieLane-outer-Top9__button-back:hover, .movieLane-outer-Top9__button-forth:hover {
  background-color: rgba(0, 0, 0, 0.315);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.movieLane-outer-Top9__button-back {
  padding-right: 1.3rem;
}

.movieLane-outer-Top9__button-left {
  padding-left: 1.3rem;
}

.movieLaneTop9 {
  width: 95%;
  margin: 1.3rem -10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.movieLaneTop9::-webkit-scrollbar {
  display: none;
}

.movieLaneTop9 .movieLaneCardTop9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.movieLaneTop9 .movieLaneCardTop9 .number {
  font-size: 10rem;
  color: white;
}

.movieLaneTop9 .movieLaneCardTop9 .svgnumber {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.movieLaneTop9 .movieLaneCardTop9 .svgnumber .div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieLaneTop9 .movieLaneCardTop9 .svgnumber .place {
  font: bold 90rem Century Gothic, Arial;
  width: 100%;
  height: 200%;
  padding-top: 30rem;
}

.movieLaneTop9 .movieLaneCardTop9 .svgnumber .place text {
  fill: black;
  stroke: white;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  -webkit-animation: 2s pulsate infinite;
          animation: 2s pulsate infinite;
}

@-webkit-keyframes pulsate {
  50% {
    stroke-width: 5px;
  }
}

@keyframes pulsate {
  50% {
    stroke-width: 5px;
  }
}

.movieLaneTop9 .movieLaneCardTop9 .movieImage .poster {
  width: 25rem;
  margin-left: -3.5rem;
}

@media only screen and (max-width: 700px) {
  .movieLane-outer-Top9 {
    width: 100%;
  }
  .movieLane-outer-Top9__button-back, .movieLane-outer-Top9__button-forth {
    font-size: 3rem;
    display: none;
  }
  .movieLane-outer-Top9 .movieLaneTop9 {
    width: 100%;
    margin: 1.3rem 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .movieLaneTop9 .movieLaneCardTop9 .svgnumber {
    width: 10rem;
  }
  .movieLaneTop9 .movieLaneCardTop9 .svgnumber .place {
    height: 200%;
    padding: 10rem 2rem 0 0;
  }
  .movieLaneTop9 .movieLaneCardTop9 .movieImage .poster {
    width: 15rem;
  }
}

.movieLane-outer {
  width: 90%;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5rem;
}

.movieLane-outer__button-back, .movieLane-outer__button-forth {
  height: 20rem;
  border: none;
  background: transparent;
  color: white;
  font-size: 5rem;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.movieLane-outer__button-back:hover, .movieLane-outer__button-forth:hover {
  background-color: rgba(0, 0, 0, 0.315);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.movieLane-inner {
  width: 95%;
}

.movieLane {
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.movieLane::-webkit-scrollbar {
  display: none;
}

.movieLaneCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.movieLaneCard__img {
  width: 30rem;
}

.movieLaneCard__bottomInfo {
  width: 30rem;
  padding: 0.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
}

.movieLaneCard__bottomInfo button {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 20px;
  border: black;
}

.movieLaneCard:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 700px) {
  .movieLane-outer {
    width: 100%;
  }
  .movieLane-outer__button-back, .movieLane-outer__button-forth {
    font-size: 3rem;
    display: none;
  }
  .movieLane-inner {
    width: 100%;
  }
  .movieLaneCard__img {
    width: 20rem;
  }
}

.movieInfoCard-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.623);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieInfoCard-outer .movieInfoCard {
  width: 80%;
  max-width: 100rem;
}

.movieInfoCard-outer .movieInfoCard .preview {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, black));
  background-image: linear-gradient(transparent, black 90%);
}

.movieInfoCard-outer .movieInfoCard .preview__player {
  z-index: -1;
  position: absolute;
  top: -6%;
}

.movieInfoCard-outer .movieInfoCard .preview__backdrop-img {
  padding-top: 55%;
  width: 100%;
  z-index: -1;
}

.movieInfoCard-outer .movieInfoCard .preview__button-sound2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 19%;
  right: 3%;
  z-index: 4;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.527);
}

.movieInfoCard-outer .movieInfoCard .preview__button-sound2 .sound-img {
  z-index: 3;
  width: auto;
  height: 100%;
  width: 100%;
}

.movieInfoCard-outer .movieInfoCard .preview__button-sound2 .sound-img-on {
  background: url("https://i.postimg.cc/MKKfY7Xg/3643734-high-sound-speaker-voice-volume-113403.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movieInfoCard-outer .movieInfoCard .preview__button-sound2 .sound-img-off {
  background: url("https://i.postimg.cc/nhXsyn4k/3643732-mute-sound-speaker-voice-volume-113439.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movieInfoCard-outer .movieInfoCard .movieInfoVideoPreviewText {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(5%, #1d1d1d));
  background-image: linear-gradient(transparent, #1d1d1d 5%);
  margin-top: -10%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movieInfoCard-outer .movieInfoCard .movieInfoVideoPreviewText .movieInfo-left, .movieInfoCard-outer .movieInfoCard .movieInfoVideoPreviewText .moveInfo-right {
  width: 45%;
}

.movieInfoCard-outer .movieInfoCard .movieInfoVideoPreviewText p {
  font-size: 1.5rem;
  color: white;
}

.movieInfoCard-hidden {
  display: none;
}

.movieInfoVideoPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieInfoVideoPreview__container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieInfoVideoPreview__player {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  max-height: 100vh;
}

.movieInfoVideoPreview__close-window {
  right: 0.5rem;
  position: absolute;
  top: 0.5rem;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.705);
  background: none;
  border: none;
  cursor: pointer;
}

.movieInfoVideoPreview__controlePanel {
  position: absolute;
  width: 20rem;
  bottom: 15%;
  margin-left: 2.5%;
}

.movieInfoVideoPreview__title {
  width: 100%;
}

.movieInfoVideoPreview__playButton {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.movieInfoVideoPreview .far {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.602);
}

.movieInfoVideoPreview .far:hover {
  color: #8ceb10;
  cursor: pointer;
}

.animation2 {
  -webkit-animation: sampleanimation2 0.5s forwards;
          animation: sampleanimation2 0.5s forwards;
}

@-webkit-keyframes sampleanimation2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sampleanimation2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */