// import
@import "./variables";
@import "./global-style";
@import "./styles-components/Navbar/Navbar";
@import "./styles-pages/home-page";
@import "./styles-components/Footer/Footer";
@import "./styles-components/Discover/discover";
@import "./styles-components/Discover/movieLaneTop9";
@import "./styles-components/MovieLanes/MovieLaneStandard/movieLaneStandard";

//
.searchResultPage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   margin-top: 3.5rem;
  background-color: rgba(0, 0, 0, 0.753);
}
