.preview {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  &__player {
    z-index: -1;
    position: absolute;
    top: -6%;
  }
  button {
      // background: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    bottom: 13%;
    left: 1%;
    z-index: 10;
    cursor: pointer;
    outline: none;
    img {
      z-index: 3;
      width: 100%;
    }
  }
}
