.preview {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
//   margin-top: -30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  &__player {
    position: absolute;
    // margin-top: -27px;
    top: -6%;
    // left: 0;
    // margin-bottom: -27px;
  }
}
