.movieLane{
    border: solid blue 1px;
    width: 90%;
    margin: 1.3rem 0;
    display: flex;
    overflow: hidden;

    .movieLaneCard{
        border: red solid 1px;
        width: 30rem;
        height: 30rem;
    }
}



// .movieLane {
//   width: 90vw;
//   height: auto;
//   margin: 1.3rem 0;
//   display: flex;
//   overflow-x: hidden;
//   // &::-webkit-scrollbar {    display: none;}
//   border: solid rgb(0, 38, 255) 1px;

//   .movieLaneCard {
//     height: 25rem;
//     width: 25rem;
//     // position: relative;
//     border: solid red 1px;
    // .svgNumber {
      // width: 100%;
    //   height: 120%;
    //   border: solid 2px green;
      // position: absolute;
      // left: -100px;
    //   .place {
    //     font: bold 70rem Century Gothic, Arial;
    //     width: 100%;
    //     height: 100%;
    //     border: solid blue 1px;
    //   }

    //   text {
    //     fill: black;
    //     stroke: rgb(255, 255, 255);
    //     stroke-width: 1.5px;
    //     stroke-linejoin: round;
    //     // animation       : 2s pulsate infinite;
    //   }

    //   @keyframes pulsate {
    //     50% {
    //       stroke-width: 5px;
    //     }
    //   }
    // }
//     .movieImage {
//       .poster {
//         height: 100%;
//         size: cover;
//         // position: absolute;
//       }
//     }
//   }
// }
