.navbar {
  width: 100%;
  height: 5rem;
  padding: 0 1.7rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0.746), transparent);
  &__logo {
    color: rgb(168, 34, 34);
    padding: 1rem 0;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
    font-size: 2.5rem;
  }
  &__burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 1.7rem;
    z-index: 5;
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
    }
    .line {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      transition: all 0.3s linear;
      background-color: $overal-text-color;
    }
    .nav-open {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      background-color: $overal-text-color;
      &:nth-child(1) {
        transform: rotate(45deg) translateY(9px);
      }
      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
      }
    }
  }
  .menu-container {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &__li {
      padding: 1rem 1rem;
      position: relative;
      input {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border-style: none;
        border-radius: 20px;
        padding: 10px;
        background-color: transparent;
        outline: none;
        transition-duration: 500ms;
        cursor: pointer;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAWpJREFUWEfNljFOxDAQRbehoKDnIjTcgYtwAHpOwhE4BA3Vig6Je9ABYZ60kZbVc5xkifRHelrleRzP2rGT3TAM0ahMQmUSKpNQmYTKJFQmoTIJlUmonMFlcV88FW/F5+GXazzt1m8xKjvcFh/FVNBOnvVfhMoJHorvgtgXzNZNcXX45RpPkEe+3Wc2KhswIwz6VTwWF4Xl4Wknj/yzZlKlwDM1LiuDW84p5BH0W/1MqhRYOoLla83cKeSNy01/y+miUmB3EksHGv8Y/a29i0qBI4RgI1h7C/IJ+lt7F5UC5xzBbrX2FuQT9Lf2LiqF+BmMfwbHgWJ3cfw5CEvfJD8FcVdY3ixUTrDkXTzGe3Fd2P26qOww92uGmaM4YnWRKmfAM8VssTs5QlrfgxR1VpEq/5mzilS5AauLVLkRq4pUuSHHRb4WlvMHlRtDkS/F85FrojIJlUmoTEJlEiqTUJmEyiRUJqEyh2H3Cz4WH1fC57RBAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Segoe UI";
        font-size: 15px;
        color: transparent;
        overflow: hidden;
      }
      input:focus {
        width: 320px;
        cursor: text;
        padding-left: 40px;
        color: #a0a0a0;
      }
      input:hover,
      input:focus {
        background-color: #ffffff;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJTSURBVFiF7ZdNSxtRFIafM5PgJGqXxXy4DIziJhBdFLrwnyi4cym40S4ClkJ/g2B/Qv+BC0s3CtkIDWYZasWtXxEzebswQxGt3sk0Nou8cHfnPTycc+fOOSaJUZb3vwFe0hgwrcaAaTUGTKuRB8wMYrLZ2dxEd3rVPC2aqAoqBi0ZDfXs8DZzsad2++ZfAFrSP0m+NPdO4gtQeSasZcbK9c8f39PAQcIW50vzmxIHQEXQkGzdU2+pc6c3nnpLkq0LGkBF4iBfmt9MC+hcwX7lDgBhfOycTu5IR3ePElotGxSvthFbgJnxPlUlJb14KJdzQSE8CQqhgmJYd/EExbAeFEIFhfCEcjnn4nnqOLV4oju9Sr+tndPJHRdP53RyJ2533z+QnADN0yIAst2n2vqUpKM7ZLsP/EMDFFUAn+gwSfI4PvYPIidA9Z+U6641kySP4/X8k/Ss3CoILYB8RmGS5HF87B9EbhU0GgARfqK7FMfH/kHkBtiz+7tnWjOrZV08ZrUsprUH/mEB3mYu9oCWQTUoXm27eILi1bZBFWj1/cMDVLt9Y8YK0ENs5Upz9b9V0qyWzZXm6ogPAF6PjTSDQ6Jh4f5frE+AJ2gg2/WJDq+71sxnFEb4i5jW+pWL1fS7/vLl+fHZ0AHvId2mGa/HRs/jMxCmgUwMCO7z4NTbhZkoE+2ngRwIMInSQg595L88Pz7zu/4y0ATCKBPtT71dmHH1v8pOkgby1ZamR5DZ6KuL71W3uj+Q9k3SLxfP0D+StBr5vXgMmFZjwLQaA6bVyAP+BkJqfmMbSKF/AAAAAElFTkSuQmCC);
      }
    }
    &__link {
      color: $overal-text-color;
      font-size: 2rem;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      flex-flow: column nowrap;
      align-items: center;
      background-color: $overal-background-color;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      padding-top: 3.5rem;
      transition: transform 0.5s ease-in-out;
      transform: translateX(100%);
    }
  }
}
.navbar.active {
  background: black;
}
.menu-container.test {
  transform: translateX(0%);
}
