.navbar {
  width: 100%;
  height: 5rem;
  padding: 0 1.7rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0.746), transparent);
  &__logo {
    color: rgb(168, 34, 34);
    padding: 1rem 0;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
    font-size: 2.5rem;
  }
  &__burger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 1.7rem;
    z-index: 5;
    display: none;
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-flow: column nowrap;
    }
    .line {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      transition: all 0.3s linear;
      background-color: $overal-text-color;
    }
    .nav-open {
      width: 2rem;
      height: 0.25rem;
      border-radius: 10px;
      background-color: $overal-text-color;
      &:nth-child(1) {
        transform: rotate(45deg) translateY(9px);
      }
      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
      }
    }
  }
  .menu-container {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &__li {
      padding: 1rem 1rem;
    }
    &__link {
      color: $overal-text-color;
      font-size: 2rem;
      text-decoration: none;
    }
    @media (max-width: 768px) {
      flex-flow: column nowrap;
      align-items: center;
      background-color: $overal-background-color;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      padding-top: 3.5rem;
      transition: transform 0.5s ease-in-out;
      transform: translateX(100%);
    }
  }
}
.navbar.active {
  background: black;
}
.menu-container.test {
  transform: translateX(0%);
}
