.navbar {
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    &__logo {
      color: black;
      padding: 15px 0;
      text-decoration: none;
      font-family: "Share Tech Mono", monospace;
      font-size: 2.5rem;
    }
    &__burger {
      width: 2rem;
      height: 2rem;
      position: fixed;
      top: 15px;
      right: 20px;
      z-index: 20;
      display: none;
      @media (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
      }
      .line {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s linear;
        background-color: rgb(0, 0, 0);
      }
      .nav-open {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: #ccc;
        &:nth-child(1) {
          transform: rotate(45deg) translateY(9px);
        }
        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-9px);
        }
      }
    }
  }